aiofiles==24.1.0
aiohttp==3.11.12
asyncio==3.4.3
beautifulsoup4==4.13.3
dnspython==2.7.0
ffmpeg-python==0.2.0
gpytranslate==1.5.1
hachoir==3.3.0
heroku3==5.2.1
httpx==0.23.0
motor==3.7.0
pillow==11.1.0
psutil==7.0.0
py-tgcalls==0.9.7
pykeyboard==0.1.5
pymediainfo-pyrofork==6.0.2
pyrofork==2.3.58
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
speedtest-cli==2.1.3
spotipy==2.25.0
youtube-search==2.1.2
youtube-search-python==1.6.6
yt-dlp==2025.2.19
flask_restful
flask
gunicorn
